 h1 {
     color: burlywood;
     text-align: center;
 }
 
 .art {
     text-align: center;
     margin: auto;
 }
 
 td {
     height: 200px;
     width: 150px;
     border-color: whitesmoke;
     border-width: 5px;
     border-style: solid;
 }
 
 #one {
     background-color: tomato;
 }
 
 #two {
     background-color: turquoise;
 }
 
 #three {
     background-color: yellow;
 }
 
 #four {
     background-color: yellowgreen;
 }